.editor {
  margin-top: 100px;
  position: relative;
  display: flex;

  .ProseMirror {
    outline: none;
  }

  .content {
    h1.is-empty:nth-child(1)::before,
    p.is-empty::before {
      content: attr(data-empty-text);
      float: left;
      color: #aaa;
      pointer-events: none;
      height: 0;
    }

    h1:nth-child(1) {
      margin-bottom: 3rem;
    }
  }
}
