.editor-menu-bar {
  position: sticky;
  top: 350px;
  position: -webkit-sticky;
  width: 50px;
  border-radius: 5px;
  padding: 5px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  &.is-hidden {
    visibility: hidden;
    opacity: 1;
  }

  &.is-focused {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s;
  }
}
