.editor-floating-menu {
  position: absolute;
  padding: 0.2rem 0.2rem;
  background-color: transparent;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  margin-top: 3px;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}
